

.table-wrap{
    width: 1350px;
    margin: auto;
}

.table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin: auto;
}

td, th{

    border: 1px solid black;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even){
    background-color: transparent;
    color: white;
}
tr:nth-child(odd){
    background-image: linear-gradient(to right, #453030,grey,lightgray);
}

.createBtn{
    text-align: center;
    margin:25px auto;

}
.btn-create{
    border: none;
    width:350px;
    height:70px;
    text-align: center;
    font-size: 26px;
    color:white;
    background-color: rgba(0,0,0,0);
}


.btn-create:hover{
    cursor: pointer;
    border-bottom:1px solid red;
    transform:translateY(2%);
}

.pageTitle {
    font-size: 45px;
    text-shadow: -2px -2px #6b0101, -3px 0 4px black;
    color: #a40411;
    padding: 16px;
    width: 500px;
    margin: auto;
    text-align: center;


}


.createTable-Wrap{
    margin:50px auto;
    text-align: center;
}

.pbCreateTable{
    border:none;
    padding: 7px 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color:white;
    width:250px;
    height: 75px;
    font-size:26px;
}
.pbCreateTable:hover{
    cursor: pointer;
    border-bottom:1px solid red;
    transform:translateY(2%);
}

.table input, .table select, .table button, .table label{
    background-color:  grey;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}

.table td{
    padding: 0;
}

.dates{

}